<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bookshop</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink= "/main-content">Home</a></li>
      <li><a href="#"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


<footer id="myFooter" >
  <div class="container">
      <div class="row">
          <div class="col-sm-3 myCols">
              <h5>Get started</h5>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a routerLink="/signup">Sign up</a></li>
                  <li><a href="#">Downloads</a></li>
              </ul>
          </div>
          <div class="col-sm-3 myCols">
              <h5>About us</h5>
              <ul>
                  <li><a href="#">Company Information</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Reviews</a></li>
              </ul>
          </div>
          <div class="col-sm-3 myCols">
              <h5>Support</h5>
              <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Help desk</a></li>
                  <li><a href="#">Forums</a></li>
              </ul>
          </div>
          <div class="col-sm-3 myCols">
              <h5>Legal</h5>
              <ul>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
          </div>
      </div>
  </div>
  
</footer>