<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bookshop</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink= "/homepage">HOMEPAGE</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="active"><a routerLink= "/cart">VISIT CART</a></li>
        <li><a routerLink="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
<!-- to display recieved messages -->
<h2 style="margin-top: 100px ; text-align: center">VIEW MESSAGES</h2>
<div style="display: flex; justify-content: center;">
  <input type="text" [(ngModel)] = "username" placeholder="ENTER YOUR USERNAME" >
  <button (click)="retrieve(username)">SHOW MESSAGES</button>
</div>
<h1 [hidden]="toggle">here are your messages</h1>
<div *ngFor="let msg of msgs" style="display : block">
  <div>
      <h2><b>{{msg.from}} </b> :- {{msg.message}}</h2>
  </div>
</div>
<!-- to send message -->
<h1 style="text-align: center ;margin-bottom: 20px">SEND MESSAGE</h1>
<div style="display: flex; justify-content: center; margin-bottom: 0px">
    <input type="text" [(ngModel)] = "from" placeholder="from" >
    <input type="text" [(ngModel)] = "to" placeholder="to" >
    <input type="text" [(ngModel)] = "message" placeholder="type your message" style="width: 300px">
    <button (click)="send(from,to,message)">SEND MESSAGE</button>
  </div>